<link rel="stylesheet" href="/layout.css" />
<div class="backposter">
  <div class="poster"></div>
  <h1 class="title">Hacker tools</h1>
</div>

<h1 class="pagetitle">Ratings of all hacker tools!</h1><br />

{{#if errorMessages.length}}
  <p>Couldn't fetch the tools because:</p>
  <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>

{{else}}

  {{#if tools.length}}
    <ul>
      {{#each tools}}
        <li class="toolslist">
          {{! 这里使用了id来通过id来跳转到不同的页面 }}
          {{id}}.<a class="tools_a" href="/tools/{{id}}">

            {{title}}
          </a>
          ({{grade}}/10)

        </li>
      {{/each}}
    </ul>

  {{else}}
    <p class="notools">Whoops! We have no tools to recommend at the moment.</p>
  {{/if}}

{{/if}}